html {
		background: gray;
}

body {
    font-family: Arial,Helvetica,sans-serif;
    margin: 0 auto;
    width: 960px;
		border-radius: 10px;
		background: #FFF;
}
a {
    color: #000000;
    text-shadow: 1px 1px 1px #CCCCCC;
}
p {
    text-align: justify;
		line-height: 7px;
		font-size: 16px;		
}
header, footer, aside, section {
    display: block;
}
h1 {
    font-size: 26px;
    line-height: 30px;
    padding: 18px 0;
		color: #0A3564;
}

h2 {
    font-size: 24px;
    line-height: 24px;
    padding: 0;
}

nav {
    background: none repeat scroll 0 0 #DADADA;
    border: 1px solid #CCCCCC;
    border-radius: 5px 5px 5px 5px;
    height: 40px;
    position: absolute;
    width: 70%;
}
nav ul {
    list-style: none outside none;
    margin: 0 auto;
    width: 940px;
}
nav ul li {
    float: left;
}
nav ul li a {
    display: block;
    line-height: 40px;
    margin-right: 20px;
}

#content {
    display: table;
    margin: 0 20px;
		margin-top: -40px;
}
#middle-content {
    display: table-cell;
		height:150px;
    padding-right: 22px;
    width: 620px;
}
aside {
    background: none repeat scroll 0 0 #F3F3F3;
    display: table-cell;
    width: 300px;
}
.bpage div {
    -moz-column-count: 2;
    -moz-column-gap: 22px;
}
aside section {
    background: none repeat scroll 0 0 #E0E0E0;
    border-radius: 11px 11px 11px 11px;
    margin: 22px 0 0 22px;
    padding: 11px 22px;
    width: 50%;
}

footer {
    background: none repeat scroll 0 0 #0A3564;
    border: 3px solid #FF9900;
    border-radius: 5px 5px 5px 5px;
    color: #E3E3E3;
		font-style: italic;
    padding: 10px 0;
    text-align: center;
		height: 19px;
		width: 99.5%;
}

a.cslink {
  color: #E3E3E3;
  text-shadow: none;
	text-decoration: none;
 
}

.green {
  color: green;
}