body {
    font-family: Arial,Helvetica,sans-serif;
    margin: 0 auto;
    width: 960px;
}
a {
    color: #000000;
    text-shadow: 1px 1px 1px #CCCCCC;
}
p {
    text-align: justify;
}
header, footer, aside, section {
    display: block;
}
h1 {
    font-size: 26px;
    line-height: 40px;
    padding: 18px 0;
}

#topmenu {
    background: none repeat scroll 0 0 #F3F3F3;
    border: 1px solid #CCCCCC;
    border-radius: 10px 10px 10px 10px;
    height: 40px;
    position: absolute;
    width: 77%;
}
#topmenu ul {
    list-style: none outside none;
    margin: 0 auto;
    width: 940px;
}
#topmenu ul li {
    float: left;
}
#topmenu ul li a {
    display: block;
    line-height: 40px;
    margin-right: 20px;
}
#content {
    display: table;
    margin-top: 40px;
}
#mcontent {
    display: table-cell;
    padding-right: 22px;
    width: 620px;
}
#sidebar {
    background: none repeat scroll 0 0 #F3F3F3;
    display: table-cell;
    width: 300px;
}
.bpage div {
    -moz-column-count: 2;
    -moz-column-gap: 22px;
}
#section {
    background: none repeat scroll 0 0 #E0E0E0;
    border-radius: 11px 11px 11px 11px;
    margin: 22px 0 0 22px;
    padding: 11px 22px;
    width: 50%;
}
.image {
    background: url("test.jpg") repeat scroll 0 0 transparent;
    border-radius: 10px 10px 10px 10px;
    height: 250px;
    margin: 6px auto;
    width: 600px;
}
footer {
    background: none repeat scroll 0 0 #666666;
    border-top: 1px solid #CCCCCC;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: #FFFFFF;
    padding: 10px;
    text-align: center;
}